body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.border {
    border: 6px solid grey;
    min-height: 100%;
    margin-top: 60px;
    padding: 0px 0px 0px 0px;
}

.items {
    min-height:  500px;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: 1px;
}